* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

ul > li {
  display: inline-block;
  padding: 0px 25px;
}

header {
  background-color: rgb(30, 69, 30);
  padding-bottom: 5px;
  border-bottom: 10px solid #a9a07b;
}

h1 {
  font-size: 35px;
  color: white;
  margin-left: 50px;
}

h2 {
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 25px 0px;
}

main {
  background-color: white;
  border-bottom: 10px solid rgb(30, 69, 30);
}

.contact {
  background-color: #a9a07b;
  padding-bottom: 25px;
}

footer {
  background-color: rgb(30, 69, 30);
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

#absolute-section {
  position: relative;
}

#nav-bar {
  position: absolute;
  top: 8px;
  right: 50px;
  font-size: 25px;
}

#nav-bar :hover {
  color: black;
}

#coming-soon {
  display: block;
  margin: auto;
  width: 500px;
  height: auto;
  border: 10px solid rgb(30, 69, 30);
}

#lorem {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 25px 0px;
}

form {
  display: block;
  margin: 10px 500px;
  text-align: center;
  border: 10px solid rgb(30, 69, 30);
  border-radius: 25px;
}

input[type="text"] {
  margin: 12px 0px;
  color: black;
  font-size: 15px;
  font-weight: bolder;
}

input[type="submit"] {
  margin-bottom: 12px;
  background-color: rgb(30, 69, 30);
  color: white;
  font-size: 20px;
  border-style: outset;
  border-color: black;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
